/* Write your code here. */
.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  height: 100vh;
}
.letters-calculate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
}
.heading {
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.label {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
}
.letters-input {
  color: #ffffff;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #e4e7eb;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}
.letters-count {
  align-self: center;
  color: #219a6f;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
  border-radius: 12px;
  margin-top: 30px;
  padding: 20px;
}
.image {
  width: 100%;
  order: 0;
}
@media (min-width: 992px) {
  .letters-calculate-container {
    flex-direction: row;
  }
  .calculator-container {
    align-items: flex-start;
    order: 0;
  }
  .heading {
    text-align: start;
    font-size: 46px;
  }
  .letters-count {
    align-self: start;
    padding: 24px;
  }
  .image {
    width: 550px;
    order: 1;
  }
}
@media (min-width: 768px) {
  .heading {
    font-size: 46px;
  }
  .letters-input {
    width: 350px;
  }
}
